.blocktype {
  &__top {
    font-size: 2.0833vw;
    font-weight: 600;
    line-height: 2.0833vw;
  }
  &__bottom {
    font-size: 5.2083vw;
    font-weight: 500;
    width: 41.6667vw;
    line-height: 4.9479vw;
  }
}
