.cycletwo {
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__top {
    display: flex;
  }
  &__bottom {
    display: flex;
  }
}
