.finalpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    align-items: center;
    gap: 190px;
    &__shop {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 56px;
      font-weight: 700;
      color: var(--primary);
      cursor: pointer;
    }
    &__hidden {
      overflow: hidden;
      height: 160px;
      &__brand {
        font-size: 150px;
        line-height: 170px;
        font-weight: 500;
        width: 680px;
      }
    }
    &__time {
      writing-mode: vertical-lr;
      transform: rotate(360deg);
      font-size: 24px;
      font-weight: 500;
    }
  }
}
