.finalpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 380px;
    &__shop {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-size: 56px;
      font-weight: 700;
      color: #fa481c;
    }
    &__brand {
      font-size: 200px;
      font-weight: 500;
    }
    &__time {
      writing-mode: vertical-lr;
      transform: rotate(360deg);
      font-size: 28px;
      font-weight: 500;
    }
  }
}
