.landingpage {
  color: white;
  height: 100vh;

  &__container {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      &__brand {
        font-size: 190px;
        font-weight: 500;
        line-height: 200px;
      }
      &__catch {
        font-size: 90px;
        line-height: 90px;
      }
    }
    &__bottom {
      font-size: 75px;
      line-height: 75px;
      //   &__city {
      //     font-size: 230px;
      //     line-height: 200px;
      //   }
      //   &__tim {
      //     font-size: 90px;
      //   }
    }
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
