@use "../mixins" as mixin;

.landingpage {
  height: 100vh;
  overflow: hidden;

  &__container {
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
      &__brand {
        overflow: hidden;
        font-size: 190px;
        font-weight: 500;
        line-height: 200px;

        @include mixin.lg {
          font-size: 180px;
          line-height: 150px;
        }
      }
      &__catch {
        font-size: 80px;
        font-weight: 600;
        line-height: 60px;
        display: flex;
        align-items: center;

        @include mixin.xxl-lt {
          font-size: 65px;
          line-height: 45px;
        }

        @include mixin.lg {
          margin-bottom: 20px;
        }

        &__world {
          width: 115px;
          margin-left: 30px;
          overflow: hidden;

          @include mixin.xxl-lt {
            width: 100px;
          }

          & img {
            width: 100%;
            filter: brightness(3);
            opacity: 0;
            animation: slideTop 1s ease forwards;
            animation-delay: 1s;
          }
          @keyframes slideTop {
            0% {
              opacity: 1;
              transform: translate3d(0, 120%, 0);
            }
            100% {
              opacity: 1;
              transform: translate3d(0%, 0, 0);
            }
          }
        }
      }
    }
    &__bottom {
      gap: 60px;
      font-size: 70px;
      font-weight: 500;
      line-height: 40px;

      @include mixin.lg {
        font-size: 50px;
      }

      &__city {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 22px;
      }
    }
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.button {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 32px;
  padding: 5px 8px 3px 13px;
  border-radius: 42px;
  border: none;
  display: flex;
  gap: 5px;

  &__arrow {
    font-size: 36px;
    font-weight: 300;
    animation: bounce 1s infinite alternate;
  }

  @keyframes bounce {
    0% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(5px);
    }
  }
}

.landingpage-shoplink {
  position: absolute;
  bottom: 5px;
  right: 40px;
  font-size: 70px;
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;

  @include mixin.lg {
    font-size: 50px;
  }
}
