.thankspage {
  background-color: #0d0d0d;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 180px;
    position: absolute;
    z-index: 99;
    &__top {
      overflow: hidden;
      line-height: 150px;
    }
    &__bottom {
      overflow: hidden;
      line-height: 150px;
    }
  }
  &__image {
    height: 380px;
    position: relative;
    left: 520px;
    transform: rotate(6deg);
  }
  &__image img {
    height: 100%;
  }
}
