.thankspage {
  background-color: #0d0d0d;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 180px;
    position: absolute;
    z-index: 99;
    &__top {
      overflow: hidden;
      line-height: 150px;
    }
    &__bottom {
      overflow: hidden;
      line-height: 150px;
    }
  }

  &__box {
    position: absolute;
    height: 380px;
    right: 280px;

    &__slide {
      position: relative;
      background-color: #0d0d0d;
      height: 388px;
      width: 115%;
      transform: translateX(-1%);
      z-index: 999;

      &__image {
        height: 100%;
        width: 100%;
        transform: translateY(-100%);
      }
      &__image img {
        height: 100%;
      }
    }
  }
}
