@use "../mixins" as mixin;

.thankspage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__top {
    position: absolute;
    top: 20px;
    left: 40px;

    &__brand {
      font-size: 56px;
      font-weight: 600;
      @include mixin.xs {
        font-size: 48px;
        font-weight: 600;
      }
    }
    &__back {
      font-size: 28px;
      font-weight: 400;
      line-height: 20px;
      color: var(--primary);
      cursor: pointer;

      &__arrow {
        vertical-align: middle;
        padding-right: 5px;
      }
    }
  }

  &__text {
    font-size: 140px;
    position: absolute;
    z-index: 99;

    @include mixin.md-lt {
      font-size: 120px;
      top: 240px;
    }

    @include mixin.xs {
      font-size: 65px;
    }

    &__top {
      overflow: hidden;
      line-height: 150px;
      @include mixin.md-lt {
        line-height: 120px;
      }
      @include mixin.xs {
        line-height: 70px;
      }
    }
    &__bottom {
      overflow: hidden;
      line-height: 150px;
      @include mixin.md-lt {
        line-height: 120px;
      }
      @include mixin.xs {
        line-height: 70px;
      }
    }
  }

  &__box {
    position: absolute;
    height: 380px;
    right: 200px;
    overflow: hidden;

    @include mixin.md-lt {
      right: 230px;
      bottom: 90px;
    }
    @include mixin.xs {
      height: 200px;
      right: 110px;
      bottom: 60px;
    }

    &__slide {
      background-color: var(--secondary);
      position: relative;
      height: 385px;
      width: 120%;
      z-index: 999;

      @include mixin.xs {
        height: 202px;
      }

      &__image {
        height: 100%;
        width: 100%;
        transform: translateY(-100%);
      }
      &__image img {
        height: 100%;
      }
    }
  }
}
