.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

.slider_wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.inner-carousel {
  display: inline-flex;
}

.card {
  width: 1200px;
  cursor: pointer;
  background-color: #0d0d0d;
  border-right: 1px solid white;
}

.card-img img {
  width: 100%;
  padding: 20px;
  pointer-events: none;
}

.card-bottom {
  color: white;
}
