.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  color: white;

  &_wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;

    &_inner {
      display: inline-flex;
    }
  }
}

.card {
  width: 1100px;
  cursor: pointer;
  background-color: #0d0d0d;
  border-right: 1px solid white;

  &_title {
    color: white;
  }

  &_img img {
    width: 100%;
    padding: 40px;
    pointer-events: none;
  }

  &_bottom {
    color: white;
  }
}
