.count-first-level-span {
  display: inline-block;
  overflow: hidden;
}

.count-second-level-span {
  overflow: hidden;
  font-size: 80px;
  font-weight: 600;
  display: inline-block;
  transform: translate(0, -140%, 0);
  animation-delay: 0.6s;
}
