.blockleft {
  position: relative;
  top: -1260px;
  &__hidden {
    writing-mode: vertical-rl;
    font-size: 400px;
    line-height: 250px;
  }
  &__top {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  &__bottom {
    font-size: 50px;
    font-weight: 500;
    width: 380px;
    line-height: 50px;
  }
}
