.blockmiddle {
  &__top {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  &__bottom {
    font-size: 100px;
    font-weight: 500;
    width: 800px;
    line-height: 90px;
  }
}
