.blockright {
  position: relative;
  top: -4890px;
  &__hidden {
    writing-mode: vertical-rl;
    font-size: 1550px;
    line-height: 1200px;
  }
  &__top {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  &__bottom {
    font-size: 190px;
    font-weight: 500;
    width: 1500px;
    line-height: 170px;
  }
}
