.blockmiddle {
  position: relative;
  top: -3153px;
  &__hidden {
    writing-mode: vertical-rl;
    font-size: 1000px;
    line-height: 700px;
  }
  &__top {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  &__bottom {
    font-size: 100px;
    font-weight: 500;
    width: 740px;
    line-height: 90px;
  }
}
